/* Carrito.css */
.carrito {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 800px;
  margin: 20px auto; /* Centra el carrito y lo separa del Home */
  padding: 20px;
  border: 1px solid #cccccc;
  border-radius: 8px;
  font-weight: bold; /* Hace el tipo de letra más grueso */
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: bold; /* Hace el tipo de letra más grueso */
}

ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
  border-bottom: 1px solid #cccccc;
  font-weight: bold; /* Hace el tipo de letra más grueso */
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold; /* Hace el tipo de letra más grueso */
}

button:hover {
  background-color: #0056b3;
}