/* Navbar.css */

.navbar {
    display: flex;
    justify-content: space-between; /* Distribuye el espacio entre elementos */
    align-items: center;
    background-color: #911212;
    padding: 1rem;
}

.navbar__left {
    display: flex;
    align-items: center;
}

.navbar__center {
    display: flex;
    align-items: center;
    flex-grow: 1; /* Permite que esta sección crezca para ocupar el espacio entre left y right */
    justify-content: center; /* Centra los elementos dentro de esta sección */
}

.navbar__right {
    display: flex;
    align-items: center;
}

.navbar__brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    margin-right: 2rem; /* Añade un margen a la derecha del nombre de la plataforma */
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; /* Similar a Netflix */
}

.navbar__link {
    color: white;
    text-decoration: none;
    padding: 0 1rem;
}

.navbar__link:hover {
    text-decoration: underline;
}

.navbar__carrito-img {
    width: 40px; /* Ajusta el tamaño de la imagen del carrito según sea necesario */
    height: 40px;
}
